<div class="container-sm mt-5">
    <div class="card">
      <div class="card-body">
        <div><button (click)="AddPosition()" type="button" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button></div>
  
        <table id="dtPosition" class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
          <tr>
            <th>ID</th>
            <th>Position Name Kh</th>
            <th>Position Name En</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of positionList">
            <td>{{ data.positionId }}</td>
            <td>{{ data.positionNameKh }}</td>
            <td>{{ data.positionNameEn }}</td>
            <td *ngIf="data.isActive===1"><span class="badge bg-success mt-2">Active</span></td>
            <td *ngIf="data.isActive===0"><span class="badge bg-danger mt-2">Disable</span></td>
            <td>
              <div class="btn-group">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="ViewPosition(data.positionId,1)" data-bs-toggle="modal" data-bs-target="#exampleModal">View</a></li>
                  <li><a class="dropdown-item" (click)="ViewPosition(data.positionId,2)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a></li>
                  <li><a class="dropdown-item" (click)="ViewPosition(data.positionId,3)" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a></li>
                </ul>
              </div>
            </td>
            
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Position Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="positionForm">
                <div class="form-floating mb-3" *ngIf="buttonVisible">
                  <input  type="text" class="form-control" id="id" placeholder="Position ID" formControlName="positionId" readonly>
                  <label for="id">Position ID</label>
                </div>
                <div class="form-floating mb-3">
                  <input  type="text" class="form-control" id="title_kh" placeholder="Position Title" formControlName="positionNameKh">
                  <label for="title_kh">Position Khmer</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="title_en" placeholder="Position Title" formControlName="positionNameEn">
                  <label for="title_en">Position English</label>
                </div>
                <div class="form-floating mb-3">
                  <select class="form-select" id="status" aria-label="Floating label select example" formControlName="isActive">
                    <option selected>Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">IsActive</option>
                  </select>
                  <label for="title_en">Status</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" *ngIf="btnSave" (click)="CUDPosition('C')">Save</button>
              <button type="button" class="btn btn-warning" *ngIf="btnUpdate" (click)="CUDPosition('U')">Update</button>
              <button type="button" class="btn btn-danger" *ngIf="btnDelete" (click)="CUDPosition('D')">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  