<div class="container-sm mt-5">
  <div class="card">
    <div class="card-body">
      
        <!-- Button trigger modal -->
        <button type="button"  (click)="addEmployee()" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add New
        </button>
    
      <table id="dtEmployee" class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr class="text-center">
            <th>Employee ID</th>
            <th>Khmer Name</th>
            <th>Latin Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of employeeList">
            <td>{{ data.employeeId }}</td>
            <td>{{ data.employeeNameKh }}</td>
            <td>{{ data.employeeNameEn }}</td>
            <td>{{data.position}}</td>
            <td>{{data.department}}</td>
            <td>{{data.address}}</td>
            <td>
              <div class="btn-group">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="ViewEmployee(data.departmentId,1)" data-bs-toggle="modal" data-bs-target="#exampleModal">View</a></li>
                  <li><a class="dropdown-item" (click)="ViewEmployee(data.departmentId,2)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a></li>
                  <li><a class="dropdown-item" (click)="ViewEmployee(data.departmentId,3)" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
   


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Register Employee</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <nav class="navbar bg-body-tertiary">
              <div class="container">
                <span class="navbar-brand mb-0 text-success">Employee Information</span>
              </div>
            </nav>
            <form [formGroup]="employeeForm" *ngIf="buttonVisible">
              <div class="container">
                <div class="form-floating mb-3">
                  <input type="text" formControlName="employeeId" class="form-control" id="employeeId"
                    placeholder="employee id">
                  <label for="employeeId">Employee ID</label>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="text" formControlName="employeeNameKh" id="nameKh" class="form-control"
                        placeholder="Khmer name">
                      <label for="nameKh">Khmer name</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="text" formControlName="employeeNameEn" id="latinName" class="form-control"
                        placeholder="Latin name">
                      <label for="latinName">Latin name</label>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <select formControlName="gender" id="gender" class="form-select">
                    <option value="" selected disabled>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                  <label for="gender">Gender</label>

                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <select formControlName="department" id="department" class="form-select">
                        <option value="" selected disabled>Select Department</option>
                        <option *ngFor="let item of departmentList" value="{{item.departmentNameKh}}">
                          {{item.departmentNameKh}}</option>
                      </select>
                      <label for="department">Department</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <select formControlName="position" id="position" class="form-select">
                        <option value="" selected disabled>Select Position</option>
                        <option *ngFor="let position of positionList" value="{{position.positionNameEn}}">
                          {{position.positionNameEn}}</option>
                      </select>
                      <label for="position">Position</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <select formControlName="address"  id="province" class="form-select"
                        (change)="onChangeProvince($event)">
                        <option selected disabled>Select Province</option>
                        <option *ngFor="let item of provinceList" value="{{item.id}}">{{item.nameKh}}</option>
                      </select>
                      <label for="province">Province</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating .mb-3">
                      <select id="district" class="form-select"
                        (change)="onChangeDistrict($event)">
                        <option value="" selected disabled>Select District</option>
                        <option *ngFor="let item of districtList" value="{{item.id}}">{{item.nameKh}}</option>
                      </select>
                      <label for="district">District</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <select (change)="onChangeCommune($event)" id="commune"
                        class="form-select">
                        <option value="" selected disabled>Select Commune</option>
                        <option *ngFor="let item of communeList" value="{{item.id}}">{{item.nameKh}}</option>
                      </select>
                      <label for="commune">Commune</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <select id="village" class="form-select">
                        <option value="" selected disabled>Select Village</option>
                        <option *ngFor="let item of villageList" value="{{item.id}}">{{item.nameKh}}</option>
                      </select>
                      <label for="village">Village</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Experience</span>
              </div>
            </nav>
            <form [formGroup]="employeeExperience">
              <div class="row mt-2">
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input  type="text" class="form-control" placeholder="Position" formControlName="position">
                    <label for="position">Position</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input  type="text" class="form-control" placeholder="Salary" formControlName="salary">
                    <label for="position">Salary</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input  type="date" id="dateJoin" class="form-control" placeholder="Date Join" formControlName="dateJoin">
                    <label for="dateJoin">Date Join</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input  type="date" id="dateResign" class="form-control" placeholder="Date Resign" formControlName="dateResign">
                    <label for="dateResign">Date Resign</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-9">
  
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-success" (click)="addExperience()">Add Experience</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <table class="table">
                      <thead>
                      <th>Position</th>
                      <th>Salary</th>
                      <th>Action</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let i of experienceList">
                        <td>{{i.position}}</td>
                        <td>{{i.salary}}</td>
                        <td>
                          <button class="btn-close" (click)="removeExperience(i.position)"></button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
             <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Education Level</span>
              </div>
            </nav>
            <form [formGroup]="employeeEducationForm">
              <div class="row mt-3">
                <div class="col-lg-6">
                     <div class="form-floating mb-3">
                          <select  class="form-select" id="major" aria-label="Floating label select example" formControlName="majorId" (change)="onMajorChange($event)">
                            <option value="0" selected>Select Major</option>
                            <option *ngFor="let m of majorList" value="{{m.majorId}}">{{m.majorName}}</option>
                          </select>
                        <label for="village">Major</label>
                    </div>
                </div>
                <div class="col-lg-6">
                         <div class="form-floating mb-3">
                          <select  class="form-select" id="level" aria-label="Floating label select example" formControlName="educationLevelId" (change)="onEducationChange($event)">
                            <option value="0" selected>Select Degree</option>
                            <option *ngFor="let e of education" value="{{e.educationLevelId}}">{{e.educationLevelName}}</option>
                          </select>
                        <label for="level">Education Level</label>
                    </div>
                </div>
              </div>
                <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input  type="text" id="school" class="form-control" placeholder="School Name" formControlName="schoolName">
                    <label for="school">School Name</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-floating mb-3">
                        <input  type="date" id="startDate" class="form-control" placeholder="Start Date" formControlName="yearStart">
                        <label for="startDate">Start Date</label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-floating mb-3">
                        <input  type="date" id="endDate" class="form-control" placeholder="End Date" formControlName="yearEnd">
                        <label for="endDate">End Date</label>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="row">
                  <div class="col-lg-9">
  
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-success" (click)="addEducation()">Add Education</button>
                  </div>
                </div>
                  <div class="col-lg-12">
                    <table class="table">
                      <thead>
                      <th>Education Level</th>
                      <th>Major</th>
                      <th>School Name</th>
                      <th>Action</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let i of educationList">
                        <td>{{i.educationLevelText}}</td>
                        <td>{{i.majorText}}</td>
                        <td>{{i.schoolName}}</td>
                        <td>
                          <button class="btn-close" (click)="removeEducation(i.educationLevelId)"></button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" *ngIf="btnSave" (click)="CUDEmployee('C')" class="btn btn-success">Save</button>
            <button type="button" *ngIf="btnUpdate" (click)="CUDEmployee('U')" class="btn btn-warning">Update</button>
            <button type="button" *ngIf="btnDelete" (click)="CUDEmployee('D')" class="btn btn-danger">Delete</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>